
@model CoverageDetailsViewModel


@{
    ViewData["Title"] = "Details";
}


<partial name="_TempDataAlertPartial" />

<div class="view-header  mb-1">
    <h5>Coverage Request</h5>
</div>

<div class="row  justify-content-end">
    <div class="col-md-3">
        <a class="btn btn-link  btn-block  "  asp-action="List" >
            Return to Manage Coverage
        </a>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-11  form-section  shadow-sm ">

        <div class="form-row form-section-header ">
            <div class=" col-md-12  ">
                <h6>Absence Details </h6>
            </div>
        </div>


        <div class="form-row  ml-5  mr-5   ">
            <div class=" col-md-2  text-md-right ">
                <label class="form-label ">Absence Request ID # : </label>
            </div>
            <div class=" col-md-6  ">
                <label>@Model.AbsenceRequest.AbsenceRequestId</label>
            </div>
        </div>

        <div class="form-row  ml-5  mr-5   ">
            <div class=" col-md-2  text-md-right ">
                <label class="form-label ">Teacher</label>
            </div>
            <div class=" col-md-6  ">
                <label>@Model.AbsenceRequest.User.FullName</label>
            </div>
        </div>


        <div class="form-row ml-5  mr-5   ">
            <div class=" col-md-2  text-md-right  ">
                <label class="form-label ">Title</label>
            </div>
            <div class=" col-md-3  ">
                <label>@Model.AbsenceRequest.User.PositionTitle</label>
            </div>
        </div>


        <div class="form-row  ml-5  mr-5   ">
            <div class=" col-md-2   text-md-right ">
                <label class="form-label">Date</label>
            </div>
            <div class=" col-md-3 ">
                <label>@Model.AbsenceRequest.StartDate.Value.ToShortDateString() - @Model.AbsenceRequest.EndDate.Value.ToShortDateString() </label>
            </div>
        </div>


        <div class="form-row  ml-5  mr-5   ">
            <div class="col-md-2   text-md-right ">
                <label class="form-label">Duration</label>
            </div>
            <div class=" col-md-3">
                <label>@Model.AbsenceRequest.DurationType.Name</label>
            </div>
        </div>


        <div class="form-row  ml-5  mr-5   ">
            <div class=" col-md-2   text-md-right ">
                <label class="form-label">Time</label>
            </div>
            <div class=" col-md-3  ">
                <label>@Model.AbsenceRequest.StartTime.Value.ToShortTimeString() - @Model.AbsenceRequest.EndTime.Value.ToShortTimeString()  </label>
            </div>
        </div>

        <div class="form-row  ml-5  mr-5   ">
            <div class=" col-md-2   text-md-right ">
                <label class="form-label">Need Coverage</label>
            </div>
            <div class=" col-md-3  ">
                <label>@(Model.AbsenceRequest.NeedCoverage == true ? "Yes" : "No")  </label>
            </div>
        </div>

        <div class="form-row  ml-5  mr-5   ">
            <div class="col-md-2  text-md-right  ">
                <label class="form-label">Periods</label>
            </div>
            <div class=" col-md-3">
                <label>@Model.GetPeriodsNeedCoverage()</label>
            </div>
        </div>







        <div class="form-row  ml-5  mt-4">
            <div class="col-md-12">
                <h5 class="form-label  border-bottom  font-weight-normal ">Sub Job</h5>
            </div>

        </div>


        @if (Model.AbsenceRequest.SubJob == null)
        {

            <div class="form-row">
                <div class="col-md-2  ml-5 ">
                    <a class="btn btn-success btn-sm" asp-action="AddSubJob" asp-route-id="@Model.AbsenceRequest.AbsenceRequestId">
                        <span class="mr-2">
                            <i class="fas fa-chalkboard"></i>
                        </span>
                        Add Sub Job
                    </a>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <h6 class=" font-weight-normal  ml-5   mt-3">None at the moment</h6>
                </div>
            </div>
        }
        else
        {
            <div class="table-container ml-5  mr-5  mb-5  mt-4 ">
                <table class="table table-bordered table-sm  ">
                    <thead class="">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Duration</th>
                            <th>Periods</th>
                            <th>Accepted By Sub</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.AbsenceRequest.StartDate.Value.ToShortDateString() - @Model.AbsenceRequest.EndDate.Value.ToShortDateString() </td>
                            <td>@Model.AbsenceRequest.StartTime.Value.ToShortTimeString() - @Model.AbsenceRequest.EndTime.Value.ToShortTimeString() </td>
                            <td>@Model.AbsenceRequest.DurationType.Name</td>
                            <td>@Model.GetPeriodsNeedCoverage()</td>
                            <td>@Model.AbsenceRequest.SubJob.User?.FullName</td>
                            <td>@Model.AbsenceRequest.SubJob.CoverageStatusType.Name</td>
                            <td>
                                <form method="post" asp-action="DeleteSubJob" asp-route-id="@Model.AbsenceRequest.AbsenceRequestId">
                                    <button class="btn btn-danger btn-sm" type="submit">
                                        <span>
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </button>
                                </form>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }







        <div class="form-row  ml-5  mt-4">
            <div class="col-md-12">
                <h5 class="form-label  border-bottom  font-weight-normal ">Coverage Jobs</h5>
            </div>

        </div>

        <div class="form-row">
            <div class="col-md-3  ml-5 ">
                <a class="btn btn-success btn-sm" asp-action="AddCoverageJob" asp-route-id="@Model.AbsenceRequest.AbsenceRequestId">
                    <span class="mr-2">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </span>
                    Add Coverage Job
                </a>
            </div>
        </div>


        @if (Model.AbsenceRequest.CoverageJobs.Count == 0)
        {
            <h6 class=" font-weight-normal  ml-5   mt-3">None at the moment</h6>
        }
        else
        {
            <div class="table-container ml-5  mr-5  mb-5  mt-4 ">
                <table class="table table-bordered table-sm  ">
                    <thead class="">
                        <tr>
                            <th>Date</th>
                            <th>Period</th>
                            <th>Coverage Teacher</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CoverageJob job in Model.AbsenceRequest.CoverageJobs)
                        {
                            <tr>

                                <td>@job.Date</td>
                                <td>@job.PeriodId</td>
                                <td>@job.User.FullName</td>
                                <td>@job.CoverageStatusType.Name</td>
                                <td>
                                    <form method="post" asp-action="DeleteCoverageJob" asp-route-id="@Model.AbsenceRequest.AbsenceRequestId">
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            <span>
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </button>
                                    </form>

                                </td>
                            </tr>
                         }
                    </tbody>
                </table>
            </div>
        }


    </div>
</div>










