
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Roles";
}




<div class="view-header mb-2 ">
    <h3>Roles</h3>
</div>




@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-success  alert-dismissible ">
        <button class="close" data-dismiss="alert">&times;</button>
        <h6 class="m-0">
            <span>
                <i class="fas fa-check-square"></i>
            </span>
            Success
        </h6>
        <p class="small m-0">@TempData["SucessMessage"]</p>
    </div>
}

@if (TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger  alert-dismissible">
        <button class="close" data-dismiss="alert">&times;</button>
        <h6>
            <span>
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            Failure
        </h6>
        <p class="small m-0">@TempData["FailureMessage"]</p>

    </div>
}

<div class="content-container shadow-sm  mt-2">

    <form asp-action="Search" method="post">

        <div class="form-row ">
            <div class="form-group col-md-5 ">
                <label class="form-label small ">Search By Role Name</label>
                <input class="form-control  form-control-sm  bg-white" placeholder="Search by Role Name" name="SearchTerm"  />
            </div>
            <div class="col-md-2  pt-4 ">
                <button type="submit" class="btn btn-sm btn-primary ">
                    <span>
                        <i class="fas fa-search"></i>
                    </span>
                    Search
                </button>
                <button class="btn btn-sm btn-danger " type="submit" name="clear" value="true">
                    Clear
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row justify-content-between">
    <div class="col-md-2 text-left ml-3 pb-2">
        <a class="btn btn-info  btn-sm " asp-action="Add">
            <span>
                <i class="fas fa-plus"></i>
                New Role
            </span>
        </a>
    </div>

</div>



<div class="overflow-auto table-container">
    <table class="table table-sm shadow-sm  mb-0">
        <thead>
            <tr>
                <th>Role</th>
                <th class="  text-center" colspan="3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var role in Model)
            {
            <tr>
                <td class="col-md-1" >@role.Name</td>

                <td class="  text-right">
                    <a class="btn btn-success btn-sm" title="Edit" asp-action="Edit" asp-route-id="@role.Id">
                        <span>
                            <i class="fas fa-edit text-white"></i>
                        </span>
                    </a>
                </td>

                <td class="text-center">
                    <a class="btn btn-secondary btn-sm" title="Role Users" asp-action="ManageUsers" asp-route-id="@role.Id">
                        <span>
                            <i class="fas fa-user-alt"></i>
                        </span>
                    </a>
                </td>
                <td class="text-left">
                    <form method="post" title="Delete" asp-action="Delete" asp-route-id="@role.Id">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <span>
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </button>
                    </form>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
