@model RoleManageUsersViewModel


@{
    ViewData["Title"] = "Manage Users";
}



<h1 class="viewHeader">@Model.RoleName Role</h1>

<br />

<div class="container">
    <br />
    @if(TempData.Keys.Contains("ErrorMessage"))
    {
        <div class="border bg-danger">
            <h6 class="text-left text-light">* Error : @TempData["ErrorMessage"]</h6>
        </div>
    }

    <br />

    <form method="post" asp-action="AddUserToRole" asp-route-id="@Model.Id"> 
        <div class="form-row border-bottom">
            <h5>Add Users to Role</h5>
        </div>

        <br />

        <div class="form-row">
            <div class="col-sm-8">
                <label>Available Users</label>
                <select class="form-control" asp-for="@Model.Id"
                        asp-items="@(new SelectList(Model.AvailableUsers,
                                            "Id", "FullName", Model.Id))">
                    <option value="">Select a User</option>
                </select>
                <input type="hidden" asp-for="@Model.RoleId" />
                <input type="hidden" asp-for="@Model.RoleName" />
            </div>
            <div class="col-sm-4 ">
                <button type="submit" class="btn btn-primary">Add User To Role</button>
            </div>
        </div>
     </form>


    <br />
    <br />
    <div class="border-bottom">
        <h5>Current Users in @Model.RoleName</h5>
    </div>

    <br />
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in Model.RoleUsers)
                {
                <tr>
                    <td>@user.FullName</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <form method="post" asp-action="RemoveUserFromRole" asp-route-id="@user.Id">
                            <input type="hidden" asp-for="@Model.RoleId" />
                            <input type="hidden"  asp-for="@Model.RoleName" />
                            <button type="submit" class="btn btn-outline-danger btn-sm">
                                <span>
                                    <i class="fas fa-trash"></i>
                                </span>Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


















