@model AbsenceViewModel

@{
    ViewData["Title"] = "Absence Request";
    string action = ViewContext.RouteData.Values["action"].ToString();
}

<!--View used for Add and Edit-->

<div class="view-header">
    <h5>@(action == "Edit" ? "Edit" : "Add") Absence Request   </h5>
</div>



<div class="alert alert-danger  alert-dismissible " asp-validation-summary="All">
    <button class="close" data-dismiss="alert">&times;</button>
    <h6>
        <span>
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        Please correct the following.
    </h6>
</div>





<form method="post" asp-action="@action">

    <input type="hidden" asp-for="@Model.AbsenceRequest.AbsenceRequestId" />
    <input type="hidden" asp-for="@Model.AbsenceRequest.UserId" />
    <input type="hidden" asp-for="@Model.AbsenceRequest.DateSubmitted" />
    <input type="hidden" asp-for="@Model.AbsenceRequest.AbsenceStatusId" />


    <div class="row justify-content-center  ">
        <div class="col-md-11  form-section  shadow ">

            <div class="form-row form-section-header ">
                <div class=" col-md-12  ">
                    <h6>Absence Request </h6>
                </div>
            </div>


            @if (action == "Edit")
            {

                <div class="form-row ml-5   ">
                    <div class="form-group col-md-2  ">
                        <label class=" font-weight-bold small ">Absence Request #</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control form-control-sm" readonly asp-for="@Model.AbsenceRequest.AbsenceRequestId" />
                    </div>
                </div>
            }

            <div class="form-row  ml-5">
                <div class="form-group col-md-4">
                    <label class="form-label small ">Absence Type</label>
                    <select class="form-control form-control-sm" asp-for="@Model.AbsenceRequest.AbsenceTypeId"
                            asp-items="@(new SelectList(Model.AbsenceTypes,
                                                "AbsenceTypeId", "Name", Model.AbsenceRequest.AbsenceTypeId))">
                        <option value="">Select One</option>
                    </select>
                </div>
            </div>
            <div class="form-row  ml-5">
                <div class="col-md-4">
                    <span class="text-danger" asp-validation-for="@Model.AbsenceRequest.AbsenceTypeId"></span>
                </div>
            </div>



            <div class="form-row  ml-5">
                <div class="form-group col-md-3  ">
                    <label class="form-label small">Start Date</label>
                    <div class="input-group">
                        <div class="input-group">
                            <input id="SD" class="form-control  form-control-sm  bg-white " placeholder="mm/dd/yyyy" readonly onkeydown="event.preventDefault()" type="text" asp-for="@Model.AbsenceRequest.StartDate" />
                            <div class="input-group-append">
                                <span class="input-group-text  form-icon">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 ">
                    <label class="form-label small">End Date</label>
                    <div class="input-group ">
                        <div class="input-group ">
                            <input id="ED" class="form-control form-control-sm bg-white" placeholder="mm/dd/yyyy" readonly onkeydown="event.preventDefault()" type="text" asp-for="@Model.AbsenceRequest.EndDate" />
                            <div class="input-group-append">
                                <span class="input-group-text  form-icon">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row ml-5">
                <div class="col-md-3">
                    <span class="text-danger" asp-validation-for="@Model.AbsenceRequest.StartDate"></span>
                </div>
                <div class="col-md-3">
                    <span class="text-danger" asp-validation-for="@Model.AbsenceRequest.EndDate"></span>
                </div>
            </div>



            <div class="form-row  ml-5">
                <div class="form-group col-md-4">
                    <label class="form-label small">Duration</label>
                    <select class="form-control form-control-sm" asp-for="@Model.AbsenceRequest.DurationTypeId"
                            asp-items="@(new SelectList(Model.DurationTypes,
                                                "DurationTypeId", "Name", Model.AbsenceRequest.DurationTypeId))">
                        <option value="">Select One</option>
                    </select>
                </div>
            </div>
            <div class="form-row ml-5">
                <div class="col-md-4 ">
                    <span class="text-danger " asp-validation-for="@Model.AbsenceRequest.DurationTypeId"></span>
                </div>
            </div>


            <div class="form-row ml-5">
                <div class="form-group col-md-3 ">
                    <label class="form-label small">Start Time</label>
                    <div class="input-group">
                        <div class="input-group">
                            <input id="ST" class="form-control form-control-sm" type="text" asp-for="@Model.AbsenceRequest.StartTime" />
                            <div class="input-group-append">
                                <span class="input-group-text  form-icon">
                                    <i class="fas fa-clock"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3 ">
                    <label class="form-label small">End Time</label>
                    <div class="input-group ">
                        <div class="input-group ">
                            <input id="ET" class="form-control form-control-sm" type="text" asp-for="@Model.AbsenceRequest.EndTime" />
                            <div class="input-group-append">
                                <span class="input-group-text form-icon">
                                    <i class="fas fa-clock"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row  ml-5">
                <div class="col-md-3">
                    <span class="text-danger" asp-validation-for="@Model.AbsenceRequest.StartTime"></span>
                </div>
                <div class="col-md-3">
                    <span class="text-danger" asp-validation-for="@Model.AbsenceRequest.EndTime"></span>
                </div>
            </div>


            <div class="form-row ml-5 ">
                <div class="form-group col-md-4">
                    <label class="form-label small">Need Coverage</label>
                    <select class="form-control form-control-sm" asp-for="@Model.NeedCoverageInput">
                        <option value="">select One</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="form-row  ml-5">
                <div class="col-md-4">
                    <span class="text-danger" asp-validation-for="@Model.NeedCoverageInput"></span>
                </div>
            </div>


            <div class="form-row  ml-5">
                <div class="form-group col-md-8">
                    <label class="form-label  mr-3 mt-2 mb-2">Periods : </label>
                    @for (int i = 0; i < Model.SelectablePeriods.Count(); i++)
                    {
                        <div class="form-check form-check-inline mt-2 mb-2">
                            <input hidden asp-for="@Model.SelectablePeriods[i].PeriodId" />
                            <input class="form-check-input" type="checkbox" asp-for="@Model.SelectablePeriods[i].Checked" />
                            <label class="form-check-label" asp-for="@Model.SelectablePeriods[i].PeriodId">@Model.SelectablePeriods[i].PeriodId</label>
                        </div>
                    }
                </div>
            </div>

            <div class="form-row justify-content-end form-section-footer pr-2">
                <div class="col-md-2 ">
                    @if (action == "Add")
                    {
                        <button type="submit" class="btn btn-primary btn-block btn-sm">
                            <span>
                                <i class="fas fa-check"></i>
                            </span>
                            Submit
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success btn-block text-white  btn-sm ">
                            <span>
                                <i class="fas fa-edit text-white"></i>
                            </span>
                            Update
                        </button>
                    }

                </div>
                <div class="col-md-2">
                    <a class="btn btn-secondary btn-block  btn-sm " asp-action="List">Cancel </a>
                </div>
            </div>



        </div>
    </div>

</form>


<script>

    $(function () {
        $("#SD").datepicker({
            beforeShowDay: $.datepicker.noWeekends,
            minDate: 0,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate());
                $("#ED").datepicker("option", "minDate", dt);
            }
        });
    });

    $(function () {
        $("#ED").datepicker({
            beforeShowDay: $.datepicker.noWeekends,
            minDate: 0,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate());
                $("#SD").datepicker("option", "maxDate", dt);
            }
        });
    });


    $(function () {
        $('#ST').timepicker({
            'minTime': '7:00am',
            'maxTime': '6:00pm',
            'step': 15
        });
    });
    $(function () {
        $('#ET').timepicker({
            'minTime': '7:00am',
            'maxTime': '6:00pm',
            'step': 15
        });
    });


</script>

