@model AbsenceAddViewModel

@{
    ViewData["Title"] = "Absent Request";
}


<style>

    .view-header-container {
        margin-top: 10px;
        border-bottom: solid 1px #005a9e;
    }

    h2, .header-icon {
        font-family: Arial;
        /*color: #004578;*/
        color: #022444;
    }

    .header-icon {
        font-size: 45px;
        /*color: #004578;*/
    }

    .card-header {
        background-color: rgb(230, 234, 247);
        color: #022444;
    }


    .sectionHeader {
        font-family: Arial;
        font-weight: bold;
        color: #005a9e;
        font-size : large;
    }

    label {
        font-family: Arial;
        color: #005a9e;
      
    }

    .form-container {
        border: solid 1px #71afe5;
        border-bottom: none;
        background-color: white;
    }

</style>



<div class="container-fluid">

    <!--Header-->
    <div class="row form-inline view-header-container ">
        <span class="header-icon">
            <i class="fas fa-calendar-times fa-fw"></i>
        </span>
        <h2>Absence Request</h2>
    </div>

    <!--Body-->
    @*<div class="row  py-3 ">*@
        @*<div class="col-sm-12 ">*@
            <!--Display all validation Errors-->
            <div class="text-light bg-danger text-sm-left" asp-validation-summary="All"></div>
            
            <div class="row">
                <div class="col-sm-12">
                    <form method="post" asp-action="Add">

                        <div class="row">

                            <div class="col-sm-5">


                                <div class="form-row pt-3 pb-3">
                                    <div class="col-sm-12 border-bottom">
                                        <label class="sectionHeader">Absence Details</label>
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-sm-3 text-right">
                                        <label> Absence Type</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select class="custom-select custom-select-sm" asp-for="@Model.AbsenceTypeId"
                                                asp-items="@(new SelectList(Model.AbsenceTypes,
                                            "AbsenceTypeId", "Name", Model.AbsenceTypeId))">
                                            <option value="">Select One</option>
                                        </select>
                                        <span class="text-danger" asp-validation-for="@Model.AbsenceTypeId"></span>
                                    </div>
                                </div>

                                @*<div class="form-row pt-4 pb-2">
                    <div class="col-sm-12 border-bottom">
                        <label class="sectionHeader">Dates(s)</label>
                    </div>
                </div>*@
                                <div class="form-row mb-3">
                                    <div class="col-sm-3 text-right">
                                        <label>Start Date </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input id="SD" class="form-control  form-control-sm  bg-light " type="text" readonly onkeydown="event.preventDefault()" asp-for="@Model.StartDate" />
                                            <span><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <span class="text-danger" asp-validation-for="@Model.StartDate"></span>
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col-sm-3 text-right">
                                        <label>End Date </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input id="ED" class="form-control form-control-sm bg-light" readonly onkeydown="event.preventDefault()" type="text" asp-for="@Model.EndDate" />
                                            <span><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <span class="text-danger" asp-validation-for="@Model.EndDate"></span>
                                    </div>
                                </div>


                                @*<div class="form-row pt-4 pb-2">
                    <div class="col-sm-12 border-bottom">
                        <label class="sectionHeader">Time</label>
                    </div>
                </div>*@
                                <div class="form-row mb-3">
                                    <div class="col-sm-3 text-right">
                                        <label> Duration</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                                            <label class="btn btn-outline-primary btn-sm">
                                                <input type="radio" id="1" value="@Enums.Duration.FullDay" asp-for="@Model.Duration" autocomplete="off">
                                                Full Day
                                            </label>
                                            <label class="btn btn-outline-primary btn-sm">
                                                <input type="radio" id="2" value="@Enums.Duration.HalfDay" asp-for="@Model.Duration" autocomplete="off">
                                                Half Day
                                            </label>
                                        </div>
                                        <span class="text-danger" asp-validation-for="@Model.AbsenceTypeId"></span>
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col-sm-3 text-right">
                                        <label>Start Time </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input id="ST" class="form-control form-control-sm" type="text" asp-for="@Model.StartTime" />
                                            <span><i class="far fa-clock"></i></span>
                                        </div>
                                        <span class="text-danger" asp-validation-for="@Model.StartTime"></span>
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col-sm-3 text-right">
                                        <label>End Time </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input id="ET" class="form-control form-control-sm " type="text" asp-for="@Model.EndTime" />
                                            <span><i class="far fa-clock"></i></span>
                                        </div>
                                        <span class="text-danger" asp-validation-for="@Model.EndTime"></span>
                                    </div>
                                </div>

                            </div>



                            <div class="col-sm-6 px-5">

                                <div class="form-row pt-3 pb-3">
                                    <div class="col-sm-12 border-bottom">
                                        <label class="sectionHeader">Coverage Details</label>
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-sm-4">
                                        <label>Need Covered?</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                                            <label class="btn btn-outline-primary btn-sm">
                                                <input type="radio" id="1" value="@Enums.NeedCoverage.Yes" asp-for="@Model.NeedCoverage" autocomplete="off">
                                                Yes
                                            </label>
                                            <label class="btn btn-outline-primary btn-sm">
                                                <input type="radio" id="2" value="@Enums.NeedCoverage.No" asp-for="@Model.NeedCoverage" autocomplete="off">
                                                No
                                            </label>
                                        </div>
                                        <div class="form-row">
                                            <span class="text-danger" asp-validation-for="@Model.NeedCoverage"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col-sm-12">
                                        <label>Periods Need Covered</label>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-sm-12">
                                            <div class="form-row pl-3">
                                                @for (int i = 0; i < Model.SelectablePeriods.Count(); i++)
                                                {
                                                    <div class="form-check form-check-inline">
                                                        <input hidden asp-for="@Model.SelectablePeriods[i].PeriodId" />
                                                        <input class="form-check-input" type="checkbox" asp-for="@Model.SelectablePeriods[i].Checked" />
                                                        <label class="form-check-label" asp-for="@Model.SelectablePeriods[i].PeriodId">@Model.SelectablePeriods[i].PeriodId</label>
                                                    </div>
                                                }
                                            </div>
                                            <div class="form-row">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <input type="hidden" asp-for="@Model.AbsenceRequestId" />

                        <div class="border-top pt-4">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a class="btn btn-warning" asp-action="List">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>


        @*</div>
    </div>*@

</div>


<script>
    $(function () {
        $("#SD").datepicker({
            minDate: 0,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate());
                $("#ED").datepicker("option", "minDate", dt);
            }
        });
    });

    $(function () {
        $("#ED").datepicker({
            minDate: 0,
            onSelect: function (selected) {
                var dt = new Date(selected);
                dt.setDate(dt.getDate());
                $("#SD").datepicker("option", "maxDate", dt);
            }
        });
    });

    $(function () {
        $('#ST').timepicker({
            'minTime': '7:00am',
            'maxTime': '6:00pm',
            'step': 15
        });
    });
    $(function () {
        $('#ET').timepicker({
            'minTime': '7:00am',
            'maxTime': '6:00pm',
            'step': 15
        });
    });

</script>

