
@model AbsenceDetailsViewModel


@{
    ViewData["Title"] = "Absence Request Details";
}

<div class="view-header">
    <h5>Absence Request Details</h5>
</div>


<form method="post" asp-action="Delete" asp-route-id="@Model.AbsenceRequest.AbsenceRequestId">

    <div class="row justify-content-center">
        <div class="col-md-11  form-section  shadow-sm ">

            <div class="form-row form-section-header ">
                <div class=" col-md-12  ">
                    <h6>Absence Details </h6>
                </div>
            </div>



            <div class="form-row  ml-5  mr-5   ">
                <div class=" col-md-2  text-md-right ">
                    <label class="form-label ">Absence Request #</label>
                </div>
                <div class=" col-md-6  ">
                    <label>@Model.AbsenceRequest.AbsenceRequestId</label>
                </div>
            </div>


            <div class="form-row ml-5  mr-5   ">
                <div class=" col-md-2  text-md-right  ">
                    <label class="form-label ">Absence Type</label>
                </div>
                <div class=" col-md-3  ">
                    <label>@Model.AbsenceRequest.AbsenceType.Name</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5   ">
                <div class=" col-md-2   text-md-right ">
                    <label class="form-label">Start Date</label>
                </div>
                <div class=" col-md-3 ">
                    <label>@Model.AbsenceRequest.StartDate.Value.ToShortDateString()</label>
                </div>
            </div>


            <div class="form-row   ml-5  mr-5  ">
                <div class=" col-md-2  text-md-right ">
                    <label class="form-label">End Date</label>
                </div>
                <div class=" col-md-3 ">
                    <label>@Model.AbsenceRequest.EndDate.Value.ToShortDateString()</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5   ">
                <div class="col-md-2   text-md-right ">
                    <label class="form-label">Duration</label>
                </div>
                <div class=" col-md-3">
                    <label>@Model.AbsenceRequest.DurationType.Name</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5   ">
                <div class=" col-md-2   text-md-right ">
                    <label class="form-label">Start Time</label>
                </div>
                <div class=" col-md-3  ">
                    <label>@Model.AbsenceRequest.StartTime.Value.ToShortTimeString()</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5   ">
                <div class=" col-md-2  text-md-right ">
                    <label class="form-label">End Time</label>
                </div>
                <div class=" col-md-3 ">
                    <label>@Model.AbsenceRequest.EndTime.Value.ToShortTimeString()</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5    ">
                <div class="col-md-2   text-md-right ">
                    <label class="form-label">Need Coverage</label>
                </div>
                <div class=" col-md-3">
                    <label>@(Model.AbsenceRequest.NeedCoverage == true ? "Yes" : "No")</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5   ">
                <div class="col-md-2  text-md-right  ">
                    <label class="form-label">Periods</label>
                </div>
                <div class=" col-md-3">
                    <label>@Model.GetPeriodsNeedCoverage()</label>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-11  form-section shadow-sm ">

            <div class="form-row form-section-header ">
                <div class=" col-md-12  ">
                    <h6>Status Details </h6>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5 ">
                <div class="col-md-2  text-right">
                    <label class="form-label">Status</label>
                </div>
                <div class=" col-md-3">
                    <label>@Model.AbsenceRequest.StatusType.Name</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5 ">
                <div class="col-md-2  text-right  ">
                    <label class="form-label">Date Processed</label>
                </div>
                <div class=" col-md-3">
                    <label>@(Model.AbsenceRequest.DateProcessed.ToShortDateString() == "1/1/0001" ? "Waiting for Approval" : Model.AbsenceRequest.DateProcessed.ToShortDateString())</label>
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-md-11  form-section shadow-sm ">

            <div class="form-row form-section-header ">
                <div class=" col-md-12  ">
                    <h6>Submission Details </h6>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5 ">
                <div class="col-md-2   text-md-right  ">
                    <label class="form-label">Submitted By</label>
                </div>
                <div class=" col-md-3">
                    <label>@Model.AbsenceRequest.User.FullName</label>
                </div>
            </div>


            <div class="form-row  ml-5  mr-5 ">
                <div class="col-md-2   text-md-right ">
                    <label class="form-label">Date Submitted</label>
                </div>
                <div class=" col-md-3">
                    <label>@Model.AbsenceRequest.DateSubmitted.Value.ToShortDateString()</label>
                </div>
            </div>

        </div>
    </div>


    <div class="form-row justify-content-center ">
        <div class="col-md-11   ">

            <div class="form-row ">
                <div class="col-md-2 ">
                    <a class="btn btn-warning btn-block text-white  btn-sm" asp-action="Edit" asp-route-id="@Model.AbsenceRequest.AbsenceRequestId">
                        <span>
                            <i class="fas fa-edit text-white"></i>
                        </span>
                        Edit
                    </a>
                </div>
                <div class="col-md-2  ">
                    <button type="submit" class="btn btn-danger btn-block btn-sm ">
                        <span>
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        Delete
                    </button>
                </div>
                <div class="col-md-8  text-right " >
                    <a class="btn btn-link " asp-action="List">Return to Absent History </a>
                </div>
            </div>

        </div>
    </div>

</form>



