@model UserAddViewModel

@{
    ViewData["Title"] = "Add";
}


    <h1>Add User</h1>

    <div>
        <div class="card">
            <h4 class="card-header">New User</h4>
            <div class="card-body">

                <form asp-action="Add" method="post">

                    <div class="form-row">
                        <div class="col">
                            <label asp-for="FirstName ">Firs Name </label>
                            <input class="form-control" asp-for="FirstName" />
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="col">
                            <label asp-for="LastName ">Last Name </label>
                            <input class="form-control" asp-for="LastName" />
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <label asp-for="Position ">Position</label>
                        <input class="form-control" asp-for="Position" />
                        <span class="text-danger" asp-validation-for="Position"></span>
                    </div>

                    <div class="form-row">
                        <label> Campus</label>
                        <select class="form-control" asp-for="@Model.CampusId"
                                asp-items="@(new SelectList(Model.Campuses,
                                            "CampusId", "Name", Model.CampusId))">
                            <option value="">Select a Campus</option>
                        </select>
                        <span class="text-danger" asp-validation-for="@Model.CampusId"></span>
                    </div>

                    <div class="form-row">
                        <label>Email</label>
                        <input class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="form-row">
                        <label>Username </label>
                        <input class="form-control" asp-for="Username" />
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>

                    <div class="form-row">
                        <label>Password </label>
                        <input class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <div class="form-row">
                        <label>Confirm Password </label>
                        <input class="form-control" asp-for="confirmPassword" />
                        <span class="text-danger" asp-validation-for="confirmPassword"></span>
                    </div>

                    @for (int i = 0; i < Model.UserRoles.Count; i++)
                    {
                        <div class="custom-control custom-checkbox">
                            <input type="hidden" asp-for="@Model.UserRoles[i].RoleId" />
                            <input type="hidden" asp-for="@Model.UserRoles[i].RoleName" />
                            <input class="custom-control-input" asp-for="@Model.UserRoles[i].Checked" />
                            <label class="custom-control-label" asp-for="@Model.UserRoles[i].Checked">@Model.UserRoles[i].RoleName</label>
                        </div>
                    }


                    <div class="text-danger text-sm-left" asp-validation-summary="All"></div>

                    <button type="submit" class="btn btn-success">Add User</button>
                    <a class="btn btn-warning" asp-action="List">Cancel</a>
                </form>
            </div>
        </div>

    </div>


