@model UserAddViewModel

@{
    ViewData["Title"] = "Add";
}


    <h1>Add User</h1>

    <div class="text-danger text-sm-left" asp-validation-summary="All"></div>

    <div>
        <div class="card">
            <h4 class="card-header">New User</h4>
            <div class="card-body">

                <form asp-action="Add" method="post">

                    <div class="form-row">
                        <div class="col">
                            <label asp-for="FirstName ">Firs Name </label>
                            <input class="form-control" asp-for="FirstName" />
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="col">
                            <label asp-for="LastName ">Last Name </label>
                            <input class="form-control" asp-for="LastName" />
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <label asp-for="PositionTitle ">Position</label>
                        <input class="form-control" asp-for="PositionTitle" />
                        <span class="text-danger" asp-validation-for="PositionTitle"></span>
                    </div>

                    @*<div class="form-row">
                        <label asp-for="TeachingSubjects">TeachingSubjects (optional)</label>
                        <input class="form-control" asp-for="TeachingSubjects" />
                    </div>*@

                    <div class="form-row">
                        <label> Campus</label>
                        <select class="form-control" asp-for="@Model.CampusId"
                                asp-items="@(new SelectList(Model.Campuses,
                                            "CampusId", "Name", Model.CampusId))">
                            <option value="">Select a Campus</option>
                        </select>
                        <span class="text-danger" asp-validation-for="@Model.CampusId"></span>
                    </div>

                    <div class="form-row">
                        <label>Email</label>
                        <input class="form-control" asp-for="Email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="form-row">
                        <label>Username </label>
                        <input class="form-control" asp-for="Username" />
                        <span class="text-danger" asp-validation-for="Username"></span>
                    </div>

                    <div class="form-row">
                        <label>Password </label>
                        <input class="form-control" asp-for="Password" />
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                    <div class="form-row">
                        <label>Confirm Password </label>
                        <input class="form-control" asp-for="confirmPassword" />
                        <span class="text-danger" asp-validation-for="confirmPassword"></span>
                    </div>

                    <div class="form-row">
                        <label> Assign a Role</label>
                        <select class="form-control" asp-for="@Model.Id"
                                asp-items="@(new SelectList(Model.AvailableRoles,
                                            "Id", "Name", Model.Id))">
                            <option value="">Select a Role</option>
                        </select>
                        <span class="text-danger" asp-validation-for="@Model.Id"></span>
                    </div>


                    

                    <button type="submit" class="btn btn-success">Add User</button>
                    <a class="btn btn-warning" asp-action="List">Cancel</a>
                </form>
            </div>
        </div>

    </div>


