
@model IEnumerable<User>


@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<a class="btn btn-info" asp-action="Add">
    <span class="icon">
        <i class="fas fa-plus-circle"></i>
    </span>New User
</a>

<table class="table-sm table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model)
        {
        <tr>
            <td>@user.FullName</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        <td>
            <div class="dropdown show">
                <a class="btn btn-outline-primary" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                    <span class="icon">
                        <i class="fas fa-cogs"></i>
                    </span>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@user.Id">
                        <span>
                            <i class="fas fa-edit"></i>
                        </span>
                        Edit
                    </a>
                    <a class="dropdown-item" asp-action="ManageRoles" asp-route-id="@user.Id">
                        @*Manage Roles*@
                        <span>
                            <i class="fas fa-user-tag"></i>
                        </span>
                        Manage Roles
                    </a>
                    <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                        <button type="submit" class="btn">
                            @*Delete*@
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </td>
        </tr>
        }
    </tbody>
</table>

