
@model UserListViewModel


@{
    ViewData["Title"] = "Users";
}





<div class="view-header mb-2 ">
    <h3>Users</h3>
</div>


@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-success  alert-dismissible ">
        <button class="close" data-dismiss="alert">&times;</button>
        <h6 class="m-0">
            <span>
                <i class="fas fa-check-square"></i>
            </span>
            Success
        </h6>
        <p class="small m-0">@TempData["SucessMessage"]</p>
    </div>
}

@if (TempData["FailureMessage"] != null)
{
    <div class="alert alert-danger  alert-dismissible">
        <button class="close" data-dismiss="alert">&times;</button>
        <h6>
            <span>
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            Failure
        </h6>
        <p class="small m-0">@TempData["FailureMessage"]</p>

    </div>
}



<div class="content-container shadow-sm  mt-2">

    <form asp-action="Search" method="post">

        <div class="form-row ">
            <div class="form-group col-md-5 ">
                <label class="form-label small ">Search By Name or Username</label>
                <input class="form-control  form-control-sm  bg-white" placeholder="Search by Name or Username"  name="SearchTerm" asp-for="@Model.Grid.Search"  />
            </div>
            <div class="col-md-2  pt-4 ">
                <button type="submit" class="btn btn-sm btn-primary ">
                    <span>
                        <i class="fas fa-search"></i>
                    </span>
                    Search
                </button>
                <button class="btn btn-sm btn-danger "  type="submit"  name="clear" value="true"  >
                    Clear
                </button>
            </div>
        </div>

        <div class="form-row ">
            <div class="form-group col-md-2">
                <label class="form-label small ">Campus</label>
                <select class="form-control form-control-sm"   name="Filters"  
                        asp-items="@(new SelectList(Model.Campuses,
                                        "CampusId", "Name", Model.Grid.Campus))">
                    <option value="all">All</option>
                </select>
            </div>

        </div>

    </form>

</div>




<div class="row justify-content-between">
    <div class="col-md-2 text-left ml-3 pb-2">
        <a class="btn btn-info  btn-sm " asp-action="Add">
            <span>
                <i class="fas fa-plus"></i>
                New User
            </span>
        </a>
    </div>
    <div class="col-md-2 text-right mr-4  pt-2">
        <h6 class="form-label font-weight-normal ">Showing Page @Model.Grid.PageNumber of @Model.TotalPages</h6>
    </div>
</div>

<div class="overflow-auto table-container">

    <table class="table table-sm shadow-sm  mb-0">
        <thead>
            <tr>
                <th>
                    Name
                    <a asp-action="List" 
                       asp-route-sortby=@nameof(AbsenceCoverageMS.Models.DomainModels.User.FirstName)
                       asp-route-sortdirection=@Model.Grid.GetNewSortDirection(nameof(AbsenceCoverageMS.Models.DomainModels.User.FirstName))
                       class=" @(Model.Grid.SortBy == nameof(AbsenceCoverageMS.Models.DomainModels.User.FirstName) ? "text-primary" : "text-secondary")">
                        <span>
                            <i class="fas fa-sort-down"></i>
                        </span>
                    </a>
                </th>
                <th>
                    Username
                    <a asp-action="List"
                       asp-route-sortby=@nameof(AbsenceCoverageMS.Models.DomainModels.User.UserName)
                       asp-route-sortdirection=@Model.Grid.GetNewSortDirection(nameof(AbsenceCoverageMS.Models.DomainModels.User.UserName))
                       class=" @(Model.Grid.SortBy == nameof(AbsenceCoverageMS.Models.DomainModels.User.UserName) ? "text-primary" : "text-secondary")">
                        <span>
                            <i class="fas fa-sort-down"></i>
                        </span>
                    </a>
                </th>
                <th>
                    Position Title
                </th>
                <th>
                    Campus
                    <a asp-action="List"
                       asp-route-sortby=@nameof(AbsenceCoverageMS.Models.DomainModels.User.Campus.Name)
                       asp-route-sortdirection=@Model.Grid.GetNewSortDirection(nameof(AbsenceCoverageMS.Models.DomainModels.User.Campus.Name))
                       class=" @(Model.Grid.SortBy == nameof(AbsenceCoverageMS.Models.DomainModels.User.Campus.Name) ? "text-primary" : "text-secondary")">
                        <span>
                            <i class="fas fa-sort-down"></i>
                        </span>
                    </a>
                </th>
                <th  class="  text-center" colspan="4">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (User u in Model.Users)
            {
            <tr>
                <td>@u.FullName</td>
                <td>@u.UserName</td>
                <td>@u.PositionTitle</td>
                <td>@u.Campus.Name</td>
   


                <td class="text-center">
                    <a class="btn btn-info btn-sm" title="Details" asp-action="Details" asp-route-id="@u.Id">
                        <span>
                            <i class="fas fa-binoculars"></i>
                        </span>
                    </a>
                </td>

                <td class="text-center">
                    <a class="btn btn-success btn-sm" title="Edit" asp-action="Edit" asp-route-id="@u.Id">
                        <span>
                            <i class="fas fa-edit text-white"></i>
                        </span>
                    </a>
                </td>
                <td class="text-center">
                    <a class="btn btn-sm btn-secondary " title="User Roles" asp-action="UserRoles" asp-route-id="@u.Id">
                        <span>
                            <i class="fas fa-users"></i>
                        </span>
                    </a>
                </td>
                <td class="text-center">
                    <form method="post" title="Delete" asp-action="Delete" asp-route-id="@u.Id">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <span>
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </button>
                    </form>
                </td>

            </tr>
            }

        </tbody>
    </table>

    @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-action="List"
               asp-route-sortby="@Model.Grid.SortBy"
               asp-route-sortdirection="@Model.Grid.SortDirection"
               asp-route-campus="@Model.Grid.Campus"
               asp-route-search="@Model.Grid.Search"
               asp-route-pagenumber="@i"
               asp-route-pagesize="@Model.Grid.PageSize"
               class="btn btn-link   @(i == Model.Grid.PageNumber ? "active" : "" )">
                @if (i == Model.Grid.PageNumber)
                {
                    <u>@i</u>
                }
                else
                {
                    @i
                }
            </a>
        }


</div>




