
@model UserManageRolesViewModel

@{
    ViewData["Title"] = "Manage Roles";
}


<style>
    .view-content {
        right: 0;
        padding: 10px 50px 10px 50px;
    }


    .btn {
        border-radius: 20px;
    }

</style>


<nav class="navbar justify-content-between  border-bottom">
    <h1>@Model.UserName </h1>
    <a class="btn btn-success btn-sm" asp-action="List">Return to Users</a>
</nav>


<div class="container">
    <br />
    @if (TempData.Keys.Contains("ErrorMessage"))
    {
        <div class="border bg-danger">
            <h6 class="text-left text-light">* Error : @TempData["ErrorMessage"]</h6>
        </div>
    }

    <br />

    <form method="post" asp-action="AddRoleToUser" asp-route-id="@Model.UserId">
        <div class="form-row border-bottom">
            <h5>Add Role to User</h5>
        </div>

        <br />

        <div class="form-row">
            <div class="col-sm-5">
                <label>Available Roles</label>
                <select class="form-control" asp-for="@Model.Id"
                        asp-items="@(new SelectList(Model.AvailableRoles,
                                            "Id", "Name", Model.Id))">
                    <option value="">Select a User</option>
                </select>
                <input type="hidden" asp-for="@Model.UserId" />
                <input type="hidden" asp-for="@Model.UserName" />
            </div>
            <div class="col-sm-5 ">
                <br />
                <button type="submit" class="btn btn-info btn-sm ">Add Role To User</button>
            </div>
        </div>
    </form>


    <br />
    <br />
    <div class="border-bottom">
        <h5>Roles Assigned To User</h5>
    </div>

    <br />

    @if (Model.UsersRoles.Count == 0)
    {
        <h6>None at the moment.</h6>

    }
    else
    {
        <table class="table-bordered table-sm">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (IdentityRole role in Model.UsersRoles)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <form method="post" asp-action="RemoveRoleFromUser" asp-route-id="@role.Id">
                                <input type="hidden" asp-for="@Model.UserId" />
                                <input type="hidden" asp-for="@Model.UserName" />
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                    <span>
                                        <i class="fas fa-trash"></i>
                                    </span>Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>



